:root{
    --cor1: #FDFFE2;
    --cor2: #83B4FF;
    --cor3: #5A72A0;
    --cor4: #1A2130;
}
.header{
    min-height: 80vh;

    background-image: url('../imagens/pexels-linkedin-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-navbar{
    background-color: var(--cor4);
}
.texto-white{
    color: var(--cor1);
}
.btn-color{
    background-color: var(--cor3);
    color: var(--cor1);
    width: 15%;

}
.logo{
    height: 8vh;
    width: 4%;
    border-radius: 50%;
}
.fonte-navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.pt-425{
    padding-top: 425px;
}